.homeTitleSection {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 32px; }
@media (max-width: 575px) {
    .homeTitleSection {
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 16px; } }
@media (max-width: 575px) {
    .homeTitleSection h2 {
        font-size: 1.5rem; } }
.homeTitleSection .right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-width: 120px; }
.homeTitleSection .right:hover * {
    color: #245DD8; }
.homeTitleSection .right strong {
    text-transform: uppercase;
    margin-right: 32px; }
@media (max-width: 575px) {
    .homeTitleSection .right strong {
        margin-right: 8px; } }
.homeTitleSection .right strong a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold; }
.homeTitleSection .right .mdi {
    font-size: 1.625rem;
    color: #2A8CFF;
    cursor: pointer;
    padding: 0; }

/* another */

.home-topdestinations .block-container {
    margin: 0 -10px; }
.home-topdestinations .block-container .col-md-6,
.home-topdestinations .block-container .col-md-12 {
    padding-right: 10px;
    padding-left: 10px; }
.home-topdestinations .block-container .block {
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    transition: transform .2s; /* Animation */
    border: 2px solid transparent;
}
.home-topdestinations .block-container .block.hh {
    height: 120px; }
@media (max-width: 991px) {
    .home-topdestinations .block-container .block.hh {
        height: 160px; } }
.home-topdestinations .block-container .block.fh {
    height: 260px; }
@media (max-width: 991px) {
    .home-topdestinations .block-container .block.fh {
        height: 520px; } }
@media (max-width: 991px) {
    .home-topdestinations .block-container .block.fh {
        height: 160px; } }

.home-topdestinations .city {
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    z-index: 0; }
.home-topdestinations .city:before {
    content: " ";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
}
.home-topdestinations .city .text {
    position: relative;
    z-index: 1; }
.home-topdestinations .city .text p {
    font-weight: bold; }

.home-topdestinations .block-container .block:hover {
    /*background: #00adef !important;*/
    transform: scale(1.1);
    border: 2px solid #ffde59;
}
.search-button {
    background-color: #5271ff !important;
}
.search-button:hover {
    background-color: #ffde59 !important;
}